.bd{
    padding: 50px;
}
.vacancy {
    display: inline-block;
}
.vacancy {
    width: 200px;
    min-height: 230px;
    /*margin: 5px;*/
}
.titel{
    position: relative;
    cursor: pointer;
}

.image {
    width: 200px;
    height: 200px;
}

.image img {
    width: 100%;
}

.name {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.discription {
    display: none;
}
